body {
  margin: 0;
  background-color: #AAB290;
  color: #AAB290;
  font-family: 'League Gothic', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}